<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">List of Tickets</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>

	<div class="container">
		<div class="row">
			<h1>Tickets</h1>
		</div>

		<table>
  <tr>
    <th>ticket title</th>
     </tr>
     <tr>
    <th>ticket short description</th>
    <br>
    <th>ticket created on</th>
 
 
</table>

	
</body>
</html>